<div id="game">
  <div><canvas id="main" width="1000" height="500"></canvas></div>
  <div id="container">
    <button id="next-turn-button" onclick="broadcastNextTurn();">Next Turn</button>
    <span class="whos-turn" id="blues-turn">Blue's Turn</span>
    <span class="whos-turn" id="reds-turn">Red's Turn</span>
  </div>
</div>
<div id="rules">
</div>