#next-turn-button {
  height: 40px;
  width: 100px;
}

#reds-turn {
  display: none;
}

.whos-turn {
  font-size: 26px;
}

#container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}